
.fabio{
   
}

.blu{
    width: 1000px;
}

.about_text{
    
    font-size: 15px;
    background: rgba($color: white, $alpha: 0.7);
    border-radius: 0.25rem;
    padding: 2rem;
}

.h_100{
    height: calc(100vh - 70px);
}