// Import all of Bootstrap's CSS
@use "../styles/partials/header.scss";
@use "../styles/partials/footer.scss";
@use "../styles/partials/home.scss";
@use "../styles/partials/about.scss";
@use "../styles/partials/contacts.scss";
@use "../styles/partials/projects.scss";
@use "../styles/partials/dark-mode.scss";
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "/node_modules/bootstrap/scss/bootstrap";

/* --- STRUTTURA BASE --- */



html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* sfondo globale bianco */
  overflow-x: hidden; /* previene scrollbar orizzontale */
}

.bg {
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.app-footer {
  margin-top: 0;
  background-color: #e4f3ff; /* colore corretto del footer */
}

/* --- IMMAGINE DECORATIVA --- */
.nuvoletta {
  width: 100px;
  position: fixed;
  top: 20%;
  left: -100px;
  z-index: 0;
  animation: sposta-nuvoletta 20s linear infinite;
}

@keyframes sposta-nuvoletta {
  0% {
    left: -100px;
    top: 20%;
  }
  100% {
    left: 90%;
    top: 80%;
  }
}


  
  